<div class="container" style="margin: 100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <div align="center">
                <h4>Agregar una nueva novedad</h4>
            </div>
            &nbsp;
            &nbsp;
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data" />
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Titulo" name="titulo"></input>
            </div>
            &nbsp;
            &nbsp;
            <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Subtitulo" name="subtitulo"></textarea>
            </div>
            &nbsp;
            &nbsp;
            <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Descripcion" name="descripcion"></textarea>
            </div>
            &nbsp;
            &nbsp;
            <div class="form-group">
                <input type ="date" class="form-control" placeholder="Fecha" name="fecha"></input>
            </div>
            &nbsp;
            &nbsp;
            <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Lugar" name="lugar"></textarea>
            </div>
            &nbsp;
            &nbsp;
            <div class="form-group">
                <input type="time" class="form-control" placeholder="Hora" name="hora"></input>
            </div>
            &nbsp;
            &nbsp;
            <div class="form-group">
                <label>Imagen: <input type="file" name="imagen" id="imagen" /></label>
            </div>
            &nbsp;
            &nbsp;
            <div align="center">
                <button type="submit" class="btn btn-dark">Guardar</button>
            </div>
            </form>
            {{#if error}}
            <div align="center">
                <h4>{{message}}</h4>
            </div>
            {{/if}}
        </div>
    </div>
</div>