@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@font-face {
            font-family: 'Montserrat', sans-serif, 'Poppins', sans-serif, 'Raleway', sans-serif;
            src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
            src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
            src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
           } 

section{
        width: 75%;
        padding-right: 2em;
        float: left;
        box-sizing: border-box;
       }

.section h2 {
             font-size: 14px;
             font-weight: bold;
             padding: 0;
             line-height: 1px;
             margin: 115px;
             margin-left: 10px;
             letter-spacing: 2px;
             text-transform: uppercase;
             color: #aaaaaa;
             font-family: "Poppins", sans-serif;
            }

.section h2::after {
                    content: "";
                    width: 120px;
                    height: 1px;
                    display: inline-block;
                    background: #4ceb95;
                    margin: 4px 10px;
                   }

section.section-show {
                      top: 100px;
                      bottom: auto;
                      opacity: 1;
                      padding-bottom: 45px;
                     }

section .container {
                    background: rgba(0, 0, 0, 0.9);
                    padding: 30px;
                   }

.section-title p {
                  margin: 0;
                  margin: -15px 0 15px 0;
                  font-size: 25px;
                  font-weight: 700;
                  font-family: "Poppins", sans-serif;
                  font-weight: bold;
                  text-transform: uppercase;
                  color: #fff;
                  }

.contact .info-box {
                    color: #444444;
                    padding: 20px;
                    background: rgba(255, 255, 255, 0.08);
                   }

.contact .info-box h3 {
                       font-size: 20px;
                       color: rgba(255, 255, 255, 0.5);
                       font-weight: 700;
                       margin: 10px 0 8px 68px;
                      }

.contact .info-box p {
                      padding: 0;
                      color: #fff;
                      line-height: 24px;
                      font-size: 14px;
                      margin: 0 0 0 68px;
                     }

.contact .info-box .social-links a {
                                    font-size: 18px;
                                    display: inline-block;
                                    color: #fff;
                                    line-height: 1;
                                    margin-right: 12px;
                                    transition: 0.3s;
                                   }

.contact .info-box a:hover {
                            color: #18d26e;
                           }

.contact .email-form {
                      padding: 45px;
                      background: rgba(255, 255, 255, 0.08);
                     }

.contact .email-form .sent-message {
                                    display: none;
                                    background: rgba(255, 255, 255, 0.08);
                                    background: #18d26e;
                                    text-align: center;
                                    padding: 15px;
                                    font-weight: 600;
                                   }

.contact .email-form .loading {
                               display: none;
                               background: rgba(255, 255, 255, 0.08);
                               text-align: center;
                               padding: 15px;
                              }

.contact .email-form .loading:before {
                                      content: "";
                                      display: inline-block;
                                      border-radius: 50%;
                                      width: 24px;
                                      height: 24px;
                                      margin: 0 10px -6px 0;
                                      border: 3px solid #18d26e;
                                      border-top-color: #eee;
                                      -webkit-animation: animate-loading 1s linear infinite;
                                      animation: animate-loading 1s linear infinite;
                                     }

.contact .email-form input, .contact .email-form textarea {
                                                           border-radius: 0;
                                                           box-shadow: none;
                                                           font-size: 14px;
                                                           font-weight: bold;
                                                           background: rgba(255, 255, 255, 0.08);
                                                           border: 0;
                                                           transition: 0.3s;
                                                           color: #fff;
                                                          }

.contact .email-form input:focus, .contact .email-form textarea:focus {
                                                                       background-color: rgba(255, 255, 255, 0.11);
                                                                      }

.contact .email-form input::-webkit-input-placeholder, .contact .email-form textarea::-webkit-input-placeholder {
                                                                                                       color: rgba(255, 255, 255, 0.3);
                                                                                                       opacity: 1;
                                                                                                                }

.contact .email-form input::-moz-placeholder, .contact .email-form textarea::-moz-placeholder {
                                                                                               color: rgba(255, 255, 255, 0.3);
                                                                                               opacity: 1;
                                                                                              }

.contact .email-form input::placeholder, .contact .email-form textarea::placeholder {
                                                                                     color: rgba(255, 255, 255, 0.3);
                                                                                     opacity: 1;
                                                                                     align-items:left ;
                                                                                    }

.contact .email-form input {
                            padding: 10px;
                            width: 100%;
                           }

.contact .email-form textarea {
                               padding: 10px;
                               width: 100%;
                              }

.contact .email-form button[type="submit"] {
                                            background: #18d26e;
                                            border: 0;
                                            padding: 10px 30px;
                                            color: black;
                                            font-weight: bold;
                                            border-radius: 4px;
                                           }

.contact .email-form button[type="submit"]:hover {
                                                  background: #15bb62;
                                                 }






