@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@font-face {
    font-family: 'Montserrat', sans-serif, 'Poppins', sans-serif, 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
           }

section{
        width: 75%;
        padding-right: 2em;
        float: left;
        box-sizing: border-box;
       }

.section h2 {
             font-size: 14px;
             font-weight: bold;
             padding: 0;
             line-height: 1px;
             margin: 115px;
             margin-left: 10px;
             letter-spacing: 2px;
             text-transform: uppercase;
             color: #aaaaaa;
             font-family: "Poppins", sans-serif;
            }

.section h2::after {
                    content: "";
                    width: 120px;
                    height: 1px;
                    display: inline-block;
                    background: #4ceb95;
                    margin: 4px 10px;
                   }

section.section-show {
                      top: 100px;
                      bottom: auto;
                      opacity: 1;
                      padding-bottom: 45px;
                     }

section .container {
                    background: rgba(0, 0, 0, 0.9);
                    padding: 30px;
                   }

.section-title p {
                  margin: 0;
                  margin: -15px 0 15px 0;
                  font-size: 25px;
                  font-weight: 700;
                  font-family: "Poppins", sans-serif;
                  font-weight: bold;
                  text-transform: uppercase;
                  color: #fff;
                 }
                      
img.izquierda {
               float: left;
               margin-right: 15px;
              }


                      
