footer {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 15px;
        text-align: right;
        font-size: 11px;
        color: #fff;
        z-index: 999999;
       }