@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@font-face {
            font-family:"Poppins", sans-serif; 
            src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
           }       

header{
       height: 120px;
       position: fixed;
       left: 0;
       top: 0;
       right: 0;
       background: rgba(0, 0, 0, 0.9);
       padding: 10px;
      }    

header h1
         {
          margin-right: auto;
          font-size: 30px;
          font-family: "Arial", sans-serif;
          color: rgba(255, 255, 255, 0.8);
         }

header h2{
          font-size: 18px;
          margin-top: 20px;
          font-family: "Poppins", sans-serif;
          color: rgba(255, 255, 255, 0.8);
         }